<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Gilmer Regular.otf</string>
		<string>Gilmer Light.otf</string>
		<string>Gilmer Outline.otf</string>
		<string>Gilmer Medium.otf</string>
		<string>Gilmer Bold.otf</string>
		<string>Gilmer Heavy.otf</string>
	</array>
</dict>
</plist>
